@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.input-with-placeholder::placeholder {
  color: #ea4335;
}
.input-with-placeholder:hover::placeholder {
  color: #fff;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

.image-right-normal {
  margin-left: 10em;
  width: 12em;
  height: 12em;
}

@media (min-width: 768px) {
  .your-image-class-normalMonitor {
    @apply image-right-normal;
  }
}

.image-right-big {
  margin-left: 12em;
  width: 14em;
  height: 14em;
}

@media (min-width: 1860px) {
  .your-image-class-bigMonitor {
    @apply image-right-big;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-shadow {
    text-shadow: 
      -1px -1px 0 #bf84fb, 
      1px -1px 0 #bf84fb, 
      -1px 1px 0 #bf84fb, 
      1px 1px 0 #bf84fb;
  }
}
